In [185]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import itertools 
import os
import seaborn as sns
import operator
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import nltk.corpus # sample text for performing tokenization
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/yunjaecho/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [95]:
# Sean's parsing function

def parsing(dat,train_dat):
    
    ### SALARY PROCESSING 
    # see if character is in text
    def alpha_in_text(text):
        return(any(c.isalpha() for c in text))

    # see how many dashes are in text
    def number_of_dashes(text):
        return(sum([1 for i in text if '-' in i]))

    # extract smallest salary range value
    def salary_extract_first(text):

        if pd.isna(text) is True:
            return(-1)

        elif alpha_in_text(text) is True:
            return(-2)

        elif '-' in text:
            if number_of_dashes(text) == 1:
                if re.split('-',text)[0].isdigit() is True:
                    return(float(re.split('-',text)[0]))
                else:
                    return(-1)

            else:
                return(-1)
        else:
            return(-1)

    # largest salary range value
    def salary_extract_second(text):

        if pd.isna(text) is True:
            return(-1)

        elif alpha_in_text(text) is True:
            return(-2)

        elif '-' in text:
            if number_of_dashes(text) == 1:
                if re.split('-',text)[1].isdigit() is True:
                    return(float(re.split('-',text)[1]))
                else:
                    return(-1)

            else:
                return(-1)
        else:
            return(-1)

    # convert numeric salary to category
    def salary_category_first(number):
        percentile = [60.0, 14000.0, 20000.0, 30000.0, 35000.0, 44374.4, 55000.0, 70000.0, 90000.0]
        if number == -1:
            return(str(1))

        if number == -2:
            return(str(2))

        for i in range(len(percentile)):
            if i not in {0,8}:
                if (number > percentile[i-1]) & (number <= percentile[i]):
                    return(str(i+3))
                else:
                    continue

            if i == 0:
                if number < percentile[0]:
                    return(str(i+3))
            if i == 8:
                if number >= percentile[8]:
                    return(str(i+3))



    def salary_category_second(number):
        percentile = [120, 20000.0, 30000.0, 40000.0, 50000.0, 65000.0, 80000.0, 100000.0, 130000.0]
        if number == -1:
            return(str(1))

        if number == -2:
            return(str(2))

        for i in range(len(percentile)):
            if i not in {0,8}:
                if (number > percentile[i-1]) & (number <= percentile[i]):
                    return(str(i+3))
                else:
                    continue

            if i == 0:
                if number < percentile[0]:
                    return(str(i+3))
            if i == 8:
                if number >= percentile[8]:
                    return(str(i+3))
    
    
    ### ONE HOT ENCODING (training)
    employment_type_onehot = OneHotEncoder(handle_unknown='ignore').fit(train_dat[['employment_type']].fillna('NaN'))
    required_experience_onehot = OneHotEncoder(handle_unknown='ignore').fit(train_dat[['required_experience']].fillna('NaN'))
    required_education_onehot = OneHotEncoder(handle_unknown='ignore').fit(train_dat[['required_education']].fillna('NaN'))
    industry_onehot = OneHotEncoder(handle_unknown='ignore').fit(train_dat[['industry']].fillna('NaN'))
    function_onehot = OneHotEncoder(handle_unknown='ignore').fit(train_dat[['function.']].fillna('NaN'))
    category_1 = train_dat.salary_range.apply(salary_extract_first).apply(salary_category_first)
    category_2 = train_dat.salary_range.apply(salary_extract_second).apply(salary_category_second)
    salary_1_onehot = OneHotEncoder(handle_unknown='ignore').fit(pd.DataFrame(category_1))
    salary_2_onehot = OneHotEncoder(handle_unknown='ignore').fit(pd.DataFrame(category_2))
    
    ### OTHER PARSING
    nacols = dat.isna()[['title', 'location', 'department', 'salary_range','description', 'requirements', 'benefits',
                      'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
                      'required_experience', 'required_education', 'industry', 'function.']].astype('int')
    
    numeric_cols = dat[['telecommuting', 'has_company_logo', 'has_questions']]
    # func to count words in document
    document_word_count = lambda document: len(document.split(' '))
    
    # count words in column
    columns = ["company_profile","description","requirements","benefits"]
    df = copy.deepcopy(dat[columns])
    for column in columns:
            df[(str(column) + "_length")] = dat[column].apply(lambda x: len(x) if x == x else 0)
    
    
    # salary column one hot
    category_1 = dat.salary_range.apply(salary_extract_first).apply(salary_category_first)
    category_2 = dat.salary_range.apply(salary_extract_second).apply(salary_category_second)
    
    salary_1_transform = pd.DataFrame.sparse.from_spmatrix(salary_1_onehot.transform(pd.DataFrame(category_1)))
    salary_2_transform = pd.DataFrame.sparse.from_spmatrix(salary_2_onehot.transform(pd.DataFrame(category_2)))
    
    # transform to one hot
    employment_type_transformed =  pd.DataFrame.sparse.from_spmatrix(employment_type_onehot.transform(dat[['employment_type']].fillna('NaN')))
    required_experience_transformed =  pd.DataFrame.sparse.from_spmatrix(required_experience_onehot.transform(dat[['required_experience']].fillna('NaN')))
    required_education_transformed =  pd.DataFrame.sparse.from_spmatrix(required_education_onehot.transform(dat[['required_education']].fillna('NaN')))
    industry_transformed =  pd.DataFrame.sparse.from_spmatrix(industry_onehot.transform(dat[['industry']].fillna('NaN')))
    function_transformed =  pd.DataFrame.sparse.from_spmatrix(function_onehot.transform(dat[['function.']].fillna('NaN')))
    
    
    return(pd.concat([nacols,salary_1_transform, salary_2_transform,df.iloc[:,4:],
                      employment_type_transformed, required_experience_transformed, required_education_transformed, industry_transformed,function_transformed,numeric_cols],axis = 1))

In [96]:
dat_train = pd.read_csv("job_training_data.csv")
dat_train2 = pd.read_csv("practice_job_verification_data.csv")
X1 = parsing(dat_train,dat_train)
X2 = parsing(dat_train2,dat_train)
y1 = dat_train["fraudulent"]
y2 = dat_train2["fraudulent"]

In [99]:
def length_counter(df,columns = ["company_profile","description","requirements","benefits"]):
    length = []
    for column in columns:
        df[(str(column) + "_length")] = df[column].apply(lambda x: len(x) if x == x else 0)
    return df

In [100]:
jobs = pd.read_csv("job_training_data.csv")
jobs = length_counter(jobs)
nf_jobs = jobs[jobs["fraudulent"] == 0]
f_jobs = jobs[jobs["fraudulent"] == 1]

# frequency selection

In [368]:
stop_words = [
    
    ".",
    'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves',"us"]

In [319]:
def strips(x):
    return (x.strip().strip("'").strip('"').strip(",").strip("(").strip(")").strip(".").strip(";").strip(":"))

def merge_and_tokenize(df,column = "company_profile",k = 0):
    merged_text = []
    text_dict = {}
    parsed_row = []
    for sentence in df[column]:
        if sentence == sentence:
            words = sentence.lower().split()
            words = [strips(w) for w in words if strips(w) not in stop_words]
            for word in words: # remove stop words
                if "url" in str(word):
                    words.remove(word)

            parsed_row.append(words)
            merged_text.extend(words)
        else:
            parsed_row.append(np.nan)
            
    fdist = FreqDist(merged_text)
    
    keys = list(fdist.keys())
    
    for key in keys:
        if fdist[key] <= k:
            del fdist[key]
    total_counts = sum(fdist.values())
    for key in fdist:
        fdist[key] = [fdist[key],fdist[key]/total_counts]
    return fdist,parsed_row

def fraud_frequency(fraud_dict,parsed_rows):
    freq_list = []
    
    for text in tqdm(parsed_rows):
        parsed_dict = {key:0 for key in fraud_dict.keys()}
        if text == text:
            for word in text:
                if word in parsed_dict:
                    parsed_dict[word] += 1/len(text)
        else:
            freq_list.append(parsed_dict)
            continue
        
        freq_list.append(parsed_dict)
        
    return pd.DataFrame(freq_list)

def fraud_freq_dictionary(fraud_dict,nfraud_dict, th_percentage = 0.2,tops = 5):
    differenced_farud = {}
    for key in fraud_dict.keys():
        if key in nfraud_dict.keys():
            if abs(fraud_dict[key][1] - nfraud_dict[key][1]) >= fraud_dict[key][1]*th_percentage:
                differenced_farud[key] = fraud_dict[key]
        if key not in nfraud_dict.keys():
            differenced_farud[key] = fraud_dict[key]
                   
    sorted_differenced_fraud = sorted(differenced_farud.items(), key=operator.itemgetter(1),reverse = True)
    #out = dict(itertools.islice(sorted_differenced_farud.items(), tops)) 
    out = dict(sorted_differenced_fraud[:tops])
    return out

In [325]:
def fraud_freq_generator(train,test,column,th_percentage,th_count,tops,train_parsing = True):
    if train_parsing:
        _,parsed_rows = merge_and_tokenize(train,column,th_count*5)
        fraud_dict,_ = merge_and_tokenize(train[train["fraudulent"] == 1],column ,th_count)
        nfraud_dict,_ = merge_and_tokenize(train[train["fraudulent"] == 0],column ,th_count*5)
        filtered_fraud_dict = fraud_freq_dictionary(fraud_dict,nfraud_dict,th_percentage,tops)
        fraud_freq = fraud_frequency(filtered_fraud_dict,parsed_rows)
    else:
        _,parsed_rows = merge_and_tokenize(test,column,th_count*5)
        fraud_dict,_ = merge_and_tokenize(train[train["fraudulent"] == 1],column ,th_count)
        nfraud_dict,_ = merge_and_tokenize(train[train["fraudulent"] == 0],column ,th_count*5)
        filtered_fraud_dict = fraud_freq_dictionary(fraud_dict,nfraud_dict,th_percentage,tops)
        fraud_freq = fraud_frequency(filtered_fraud_dict,parsed_rows)
    
    return fraud_freq

In [336]:
train_data = pd.read_csv("job_training_data.csv")
test_data = pd.read_csv("job_verification_data.csv")

In [337]:
test_data

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function.,fraudulent
0,4859,PR8 Apprentice Administrator Under NAS 16-18 Y...,"GB, , Southport",NaN,NaN,Established on the principles that full time e...,Government funding is only available for 16-18...,16-18 year olds only due to government funding...,Career prospects.,0,1,1,Full-time,Not Applicable,High School or equivalent,NaN,Administrative,0
1,9391,Freelance Editors (m/f) for Russian Courses fo...,"DE, BE, Berlin",Didactics,NaN,Babbel enables anyone to learn languages in an...,We are looking for German native speakers (m/f...,Experience as an editor or proofreaderPreferab...,Flexible work schedulesMost work done from hom...,0,1,1,Other,NaN,NaN,E-Learning,Writing/Editing,0
2,8074,Entry Level Sales,"US, NC, Raleigh",NaN,55000-75000,NaN,General Summary: Achieves maximum sales profit...,NaN,Great Health and DentalFast Advancement Opport...,0,0,0,Full-time,Entry level,High School or equivalent,Financial Services,Sales,0
3,3739,Android Developer,"GB, LND, London",NaN,NaN,Money is a person-to-person money transfer app...,A great opportunity to be a part of a growing ...,NaN,NaN,0,1,0,Full-time,NaN,NaN,NaN,NaN,0
4,5616,Software Engineer (Ruby),"US, MA, 02139",NaN,NaN,Cogo Labs is the technology-driven incubator o...,It can be hard to say what sets one workplace ...,You should be comfortable with most of these t...,More about Cogo Labs:We are a 100% Mac/Linux s...,0,1,1,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,213,Customer Service Associate,"US, IN, Indianapolis",NaN,NaN,"Novitex Enterprise Solutions, formerly Pitney ...",The Customer Service Associate will be based i...,Minimum Requirements:Minimum of 1 year of cust...,NaN,0,1,0,Full-time,Entry level,High School or equivalent,Consumer Services,Customer Service,0
996,11278,Commercial Real Estate Salesperson - NJ,"US, NJ, Elmwood Park",NaN,NaN,"With over 1,300 investment professionals locat...",Marcus &amp; Millichap (NYSE: MMI) is the larg...,Bachelor's or Associate Degree Excellent Oral ...,NaN,0,1,1,Full-time,Associate,Associate Degree,Commercial Real Estate,Sales,0
997,858,Sales Associate Germany,"DE, BE, Berlin",Sales,NaN,EventMobi is changing the way attendees experi...,"As a Sales Associate at EventMobi, you will wo...","Have 2-4 years of sales experience, preferrabe...",An experience of a life-time working with youn...,0,1,1,Full-time,Associate,NaN,Events Services,Sales,0
998,14065,Delivery Driver - Part Time,"US, WA, Redmond",NaN,NaN,"Novitex Enterprise Solutions, formerly Pitney ...",We are currently seeking a Part Time Delivery ...,Required Qualifications:A valid driver's licen...,NaN,0,1,0,Full-time,Entry level,High School or equivalent,Computer Software,Customer Service,0
999,17720,CUSTOMER SERVICE REP,"US, TX, DALLAS",NaN,NaN,NaN,DescriptionJob Title: Customer Service Represe...,HIGH SCHOOL DIPLOMA,"HEALTH,DENTAL INSURANCE , 401K , STOCK PLAN FO...",0,0,0,Full-time,Associate,High School or equivalent,Consumer Services,Customer Service,1

In [369]:
company_freq = fraud_freq_generator(train_data,test_data,"company_profile",th_percentage = 0.25, th_count = 15, tops = 10)
description_freq = fraud_freq_generator(train_data,test_data,"description",th_percentage = 0.25, th_count = 15, tops = 10)
requirements_freq = fraud_freq_generator(train_data,test_data,"requirements",th_percentage = 0.25,th_count = 15, tops = 10)
benefits_freq = fraud_freq_generator(train_data,test_data,"benefits",th_percentage = 0.25, th_count = 15, tops = 10)

big_matrix = pd.concat([company_freq,description_freq,requirements_freq,benefits_freq],axis=1)
big_matrix["fraudulent"] = train_data["fraudulent"]

100%|███████████████████████████████████| 5362/5362 [00:00<00:00, 181824.38it/s]
100%|███████████████████████████████████| 5362/5362 [00:00<00:00, 162435.60it/s]
100%|███████████████████████████████████| 5362/5362 [00:00<00:00, 195795.53it/s]
100%|███████████████████████████████████| 5362/5362 [00:00<00:00, 479129.47it/s]

In [316]:
feature_matrix = big_matrix


X = feature_matrix.drop("fraudulent", axis = 1)
y = feature_matrix.fraudulent
y = y.astype(int)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state =999999999)
rfm = RandomForestClassifier()
rfm = RandomForestClassifier(n_estimators = 200, max_features=None ,oob_score=True,n_jobs=6)
rfm.fit(X_train,y_train)
#y_pred_rfm=rfm.predict(X_test)
y_pred_rfm = (rfm.predict_proba(X_test)[:, 1] > 0.15).astype(int)
print(confusion_matrix(y_test,y_pred_rfm))
print(accuracy_score(y_test,y_pred_rfm))
print(recall_score(y_test,y_pred_rfm))

[[1449   94]
 [  31   35]]
0.9223119950279677
0.5303030303030303

In [370]:
company_freq2 = fraud_freq_generator(train_data,test_data,"company_profile",th_percentage = 0.25, th_count = 15, tops = 10,train_parsing =False)
description_freq2 = fraud_freq_generator(train_data,test_data,"description",th_percentage = 0.25, th_count = 15, tops = 10,train_parsing =False)
requirements_freq2 = fraud_freq_generator(train_data,test_data,"requirements",th_percentage = 0.25,th_count = 15, tops = 10,train_parsing =False)
benefits_freq2 = fraud_freq_generator(train_data,test_data,"benefits",th_percentage = 0.25, th_count = 15, tops = 10,train_parsing = False)

big_matrix2 = pd.concat([company_freq2,description_freq2,requirements_freq2,benefits_freq2],axis=1)
big_matrix2["fraudulent"] = test_data["fraudulent"]

100%|███████████████████████████████████| 1000/1000 [00:00<00:00, 236472.01it/s]
100%|███████████████████████████████████| 1000/1000 [00:00<00:00, 144342.49it/s]
100%|███████████████████████████████████| 1000/1000 [00:00<00:00, 237194.14it/s]
100%|███████████████████████████████████| 1000/1000 [00:00<00:00, 394758.02it/s]

In [340]:
big_matrix2

,business,candidates,recruiting,bonus,solutions,experience,products,financing,signing,referral,...,training,environment,time,working,full,+,please,skills,compensation,fraudulent
0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
1,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.04878,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
2,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
3,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
4,0.041667,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.00000,0.022727,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.031250,0.0,0.0,0.0,0.046875,0.000000,0.0,0.000000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
996,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.019802,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
997,0.000000,0.0,0.0,0.0,0.000000,0.030303,0.0,0.000000,0.0,0.0,...,0.00000,0.018868,0.0,0.018868,0.0,0.0,0.0,0.0,0.0,0
998,0.031250,0.0,0.0,0.0,0.046875,0.000000,0.0,0.000000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
999,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.00000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1

In [376]:
train_matrix = big_matrix
test_matrix = big_matrix2

X_train = train_matrix.drop("fraudulent", axis = 1)
y_train = train_matrix.fraudulent.astype(int)

X_test = test_matrix.drop("fraudulent", axis = 1)
y_test = test_matrix.fraudulent.astype(int)

rfm = RandomForestClassifier()
rfm = RandomForestClassifier(n_estimators = 200, max_features=None ,oob_score=True,n_jobs=6)
rfm.fit(X_train,y_train)
#y_pred_rfm=rfm.predict(X_test)
y_pred_rfm = (rfm.predict_proba(X_test)[:, 1] > 0.13).astype(int)
print(confusion_matrix(y_test,y_pred_rfm))
print(accuracy_score(y_test,y_pred_rfm))
print(recall_score(y_test,y_pred_rfm))

[[895  55]
 [ 19  31]]
0.926
0.62