In [133]:
# library needed
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
import re

In [134]:
dat = pd.read_csv("./job_training_data.csv")

# Code to Deal with Salary

In [136]:
# see if character is in text
def alpha_in_text(text):
    return(any(c.isalpha() for c in text))

# see how many dashes are in text
def number_of_dashes(text):
    return(sum([1 for i in text if '-' in i]))

def salary_extract_first(text):
    
    if pd.isna(text) is True:
        return(-1)
    
    elif alpha_in_text(text) is True:
        return(-2)
    
    elif '-' in text:
        if number_of_dashes(text) == 1:
            if re.split('-',text)[0].isdigit() is True:
                return(float(re.split('-',text)[0]))
            else:
                return(-1)
            
        else:
            return(-1)
    else:
        return(-1)
    
def salary_extract_second(text):
    
    if pd.isna(text) is True:
        return(-1)
    
    elif alpha_in_text(text) is True:
        return(-2)
    
    elif '-' in text:
        if number_of_dashes(text) == 1:
            if re.split('-',text)[1].isdigit() is True:
                return(float(re.split('-',text)[1]))
            else:
                return(-1)
            
        else:
            return(-1)
    else:
        return(-1)

# convert numeric salary to category
def salary_category_first(number):
    percentile = [60.0, 14000.0, 20000.0, 30000.0, 35000.0, 44374.4, 55000.0, 70000.0, 90000.0]
    if number == -1:
        return(str(1))
    
    if number == -2:
        return(str(2))
    
    for i in range(len(percentile)):
        if i not in {0,8}:
            if (number > percentile[i-1]) & (number <= percentile[i]):
                return(i+3)
            else:
                continue
            
        if i == 0:
            if number < percentile[0]:
                return(str(i+3))
        if i == 8:
            if number >= percentile[8]:
                return(str(i+3))
            


def salary_category_second(number):
    percentile = [120, 20000.0, 30000.0, 40000.0, 50000.0, 65000.0, 80000.0, 100000.0, 130000.0]
    if number == -1:
        return(str(1))
    
    if number == -2:
        return(str(2))
    
    for i in range(len(percentile)):
        if i not in {0,8}:
            if (number > percentile[i-1]) & (number <= percentile[i]):
                return(i+3)
            else:
                continue
            
        if i == 0:
            if number < percentile[0]:
                return(str(i+3))
        if i == 8:
            if number >= percentile[8]:
                return(str(i+3))
            
def convert_salary_to_category(series):
    # first column
    category_1 = series.apply(salary_extract_first).apply(salary_category_first)
    dummy_1 = pd.get_dummies(category_1, drop_first=True)
    
    # second column
    category_2 = series.apply(salary_extract_second).apply(salary_category_second)
    dummy_2 = pd.get_dummies(category_2, drop_first=True)
    
    return(pd.concat([dummy_1,dummy_2],axis=1,ignore_index=True))

In [137]:
# Example:
convert_salary_to_category(dat.salary_range)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5357,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5358,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5359,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5360,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5361,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Below are Test code (Ignore)

In [124]:
test = dat.salary_range.apply(salary_extract_second).apply(salary_category_second)

In [127]:
dummy = pd.get_dummies(test,drop_first=True)

In [85]:
low = dat.salary_range.apply(salary_extract_first)

In [84]:
up = dat.salary_range.apply(salary_extract_second)

In [105]:
print([np.percentile(low[low>=0],i*10) for i in range(1,10)])

[60.0, 14000.0, 20000.0, 30000.0, 35000.0, 44374.400000000016, 55000.0, 70000.0, 90000.0]

In [106]:
print([np.percentile(up[up>=0],i*10) for i in range(1,10)])

[120.50000000000004, 20000.0, 30000.0, 40000.0, 50000.0, 65000.0, 80000.0, 100000.0, 130000.0]

In [88]:
max(low)

800000000.0

In [66]:
text = '1---,-asdfasdf109-'
sum([1 for i in text if '-' in i])

5

In [54]:
re.split('-','35000-40000')

['35000', '40000']

In [27]:
pd.unique(dat.salary_range)

array([nan, '35000-40000', '300000-600000', '80000-90000', '0-1200000',
       '60000-120000', '60000-80000', '6000000-7000000', '35000-45000',
       '100000-150000', '115000-130000', '140000-150000', '65000-110000',
       '40000-100000', '60-90', '30000-40000', '9000-12000',
       '70000-95000', '26000-29000', '14000-36000', '0-0', '40000',
       '9600-10500', '100000-180000', '45000-67000', '55000-65000',
       '65000-72000', '24000-30000', '110-140', '36000-65000', '50-100',
       '130000-160000', '80000-110000', '90000-110000', '5000-7000',
       '15000-17000', '40000-65000', '18500-27000', '120000-264000',
       '70000-126000', '55-72', '55000-60000', '150000-16500000',
       '14000-25000', '15000-18000', '60000-75000', '55-105',
       '18500-25000', '70000-120000', '40000-50000', '90-140000',
       '40000-60000', '28000-45000', '35000-100000', '46000-55000',
       '95000-150000', '40000-70000', '45000-55000', '40-100',
       '240000-500000', '12500-15000', '55000-75000', '30000-48000',
       '23000-27000', '20000-24000', '14000-17000', '18000-21000',
       '40000-45000', '35000-55000', '72000-108000', '35000-65000',
       '0-115', '500000-800000', '17000-19000', '30000-30000',
       '45000-45000', '60000-90000', '30000-45000', '125000-135000',
       '1000-10000', '100000-120000', '70000-110000', '17000-20000',
       '25000-30000', '41600-62400', '30000-35000', '15000-25000',
       '32000-34000', '18000-20000', '35000-35000', '34000-38000',
       '0-1000', '65000-80000', '60000-100000', '50000-60000',
       '24000-36000', '45000-60000', '14000-18000', '1000-1100', '50-60',
       '110000-125000', '40000-120000', '90000-120000', '29000-32000',
       '300000-330000', '45-80', '0-24000', '10000-20000', '50000-80000',
       '48000-60000', '80000-150000', '45000-65000', '70000-150000',
       '65000-70000', '20000-35000', '30000-50000', '200000-300000',
       '20000-23000', '18000-19000', '100000-400000', '72000-144000',
       '24000-28000', '16000-18500', '15000-20000', '70000-160000',
       '5000-6000', '65000-120000', '37400-37400', '3-Apr', '80000-85000',
       '110000-130000', '70000-85000', '55-125', '300000-450000',
       '70000-125000', '25000-35000', '1600-1600', '45000-95000',
       '80000-100000', '0-268', '125-175', '30000-34000', '44624-53764',
       '18720-21840', '70000-90000', '50000-58000', '70000-100000',
       '1500000-2500000', '60-150', '110000-150000', '18000-22000',
       '28000-40000', '20000-30000', '50000-55000', '45000-80000',
       '22000-30000', '721000-780000', '30000-60000', '1200-1400',
       '75000-90000', '34000-44000', '75000-125000', '20000-50000',
       '30160-30160', 'Oct-15', '93600-114400', '14000-40000',
       '65000-90000', '75000-120000', '15000-200000', '75000-100000',
       '40000-55000', '15750-15750', '16000-19000', '14000-14000',
       '24000-32000', '30000-450000', '20000-20000', '25-35',
       '28000-35000', '15000-75000', '60-70', '42000-62000', '45-85',
       '96000-100000', '60000-70000', '50-65', '1000-1000', '45-70',
       '18000-25000', '20000-25000', '25000-40000', '400000-650000',
       '45000-70000', '77000-87000', '0-90000', '25-28', '100000-117000',
       '0-100000', '50000-100000', '90000-100000', '36000-42000',
       '45000-85000', '24000-29000', '100000-130000', '55000-90000',
       '80000-140000', '65000-85000', '14-15', '90-100', '66000-84000',
       '20000-27000', '50000-72000', '10-Oct', '50000-65000',
       '10000-100000', '30000-37000', '13-15', '0-2000', '31181-37566',
       '75000-150000', '140000-160000', '16000-18000', '60000-150000',
       '8000-14000', '10000-10000', '80-120', '480000-600000',
       '2000000-2263000', '750-750', '12000-24000', '22000-28000',
       '39000-100000', '9600-18000', '35000-60000', '40000-54000',
       '25000-45000', '27000-32000', '84000-102000', '22000-40000',
       '50000-50000', '28000-32000', '17000-30000', '200000-240000',
       '45000-50000', '35-45', '0-65000', '0-92000', '27000-28000',
       '33000-100000', '2000-4000', '40000-85000', '75000-85000',
       '240000-240000', '85-95', '24000-26000', '45-67', '50-70',
       '26000-30000', '16000-24000', '85000-105000', '40-80', '55-67',
       '70-100', '8-Sep', '1050-1100', '80000-120000', '55000-70000',
       '115000-125000', '23000-28000', '85000-120000', '60000-65000',
       '100000-250000', '12000-18000', '35000-50000', '21120-30000',
       '28000-42000', '65000-140000', '29000-33000', '75000-110000',
       '55000-69000', '10800-10800', '80-110', '18000-23000',
       '95000-110000', '100-150', '24900-31200', '16000-28000',
       '110000-140000', '900000-1200000', '70-120', '96000-240000',
       '30000-65000', '3000-6000', '17500-17500', '30000-38000',
       '240000-300000', '10000-16000', '960000-1200000', '4500-4500',
       '44000-57000', '400000-600000', '150000-160000', '23000-24000',
       '8000-10000', '65000-75000', '36000-40000', '0-9360000',
       '36000-54000', '70000-300000', '22000-26000', '20000-40000',
       '18000-18000', '50000-70000', '90000-130000', '15000-30000',
       '7000-9000', '9600-57600', '20-25', '100000-160000',
       '143520-197600', '23000-32000', '70-90', '90000-125000',
       '14000-15000', '10-Nov', '21000-21000', '350000-500000',
       '14400-24000', '115-120', '0-150000', '40-60', '16500-17500',
       '38000-52000', '120000-140000', '4000-5000', '120000-15000000',
       '100000-110000', '9-Dec', '55000-80000', '95000-105000', '80-100',
       '19000-19000', '115000-160000', '25000-36000', '1000000-1400000',
       '0-60000', '70000-80000', '3000-7000', '135-165', '26000-52000',
       '40-55', '55000-85000', '35000-95000', '12000-12000',
       '50000-120000', '40-50', '550000-720000', '35000-150000',
       '800000000-1200000000', '42000-80000', '60000-85000', '2000-6000',
       '30000-37500', '33000-63000', '46000-62000', '28000-28000',
       '33000-36000', '700000-1200000', '20000-28000', '110-120',
       '900-900', '30-40', '50000-150000', '25000-42000', '35000-42000',
       '19000-24000', '28000-30000', '200000-600000', '52000-57000',
       '140000-200000', '120000-135000', '13000-14000', '33000-37000',
       '80000-130000', '41000-45000', '33000-34000', '50000-90000',
       '2800-3500', '11000-11000', '20000-26000', '50000-95000',
       '40000-41000', '80000-175000', '90-110', '35-100', '15-19',
       '250000-500000', '1000-2000', '7200-1380000', '13-20', '21-31',
       '26000-32000', '10000-250000', '21600-31200', '17-20',
       '40000-90000', '36000-50000', '37000-40000', '75000-80000',
       '25-30', '63000-63000', '23000-26000', '21-63000', '4500-5000',
       '50000-75000', '34000-42000', '20000-38000', '95000-115000',
       '48000-55000', '35000-75000', '25000-28000'], dtype=object)

In [34]:
dat.loc[dat.salary_range=='800000000-1200000000',:]

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function.,fraudulent
4300,3140,National Sales Manager,"ID, JW, Jakarta",Danone - Sari Husada,800000000-1200000000,Local expertise with an international perspect...,Sari Husada is a member of a leading food and ...,The candidates will required to have a univers...,.../...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Consumer Goods,Sales,0

In [25]:
dat.shape[1]

18

In [26]:
[len(pd.unique(dat.iloc[:,i])) for i in range(dat.shape[1])]

[5362,
 3953,
 1581,
 635,
 422,
 1080,
 4805,
 3938,
 2284,
 2,
 2,
 2,
 6,
 8,
 13,
 120,
 38,
 2]

In [11]:
# main parsing function
# dat: the raw pandas dataframe
# stop_words: a set of words to omitt when parsing
def parsing(dat, stop_words):
    
    # let character rows be merged into one single text (only for columns of type 'object')
    data = dat.fillna('NaN')
    data_object_colnames = data.columns[data.dtypes == 'object']
    text = data[data_object_colnames].agg(' '.join, axis=1)
    
    # results for parsing
    vectorizer = CountVectorizer(stop_words=stop_words)
    result = pd.DataFrame.sparse.from_spmatrix(vectorizer.fit_transform(text))
    
    # merge parsed results, number of NA for each field, numeric columns (less fraud and job id)
    cleaned_data = pd.concat([result,
                              dat.isna().astype('int'),
                              dat.loc[:,dat.dtypes == 'int64'].iloc[:,1:4]], axis = 1, ignore_index=True)
    return cleaned_data

In [12]:
stop_words = {"a", "the"}
result = parsing(dat, stop_words)

In [13]:
result

,0,1,2,3,4,5,6,7,8,9,...,53781,53782,53783,53784,53785,53786,53787,53788,53789,53790
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5357,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,0,0,0
5358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5359,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5360,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
5361,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Below are code for thought process (can ignore)

In [10]:
# takes in a text
# gets rid of punctuation
def ridpunctuation(text):
    returnre.sub(r'[^\w\s]', '', text)

In [27]:
# Method 1
# let character rows be merged into one single text
data = dat.fillna(' NaN ')
data_object_colnames = data.columns[data.dtypes == 'object']
text = data[data_object_colnames[0]]
for col in range(1,len(data_object_colnames)):
    text = text + data[data_object_colnames[col]]

In [5]:
# Method 2
data = dat.fillna('NaN')
data_object_colnames = data.columns[data.dtypes == 'object']
text = data[data_object_colnames].agg(' '.join, axis=1)

In [29]:
text

0       Field Operations Specialist US, SD, Yankton Na...
1       CM2 5AS Warehousing apprenticeship available u...
2       Lead QA Tester GB, LND, London Blippbuilder 35...
3       Basingstoke Fragrance/Beauty Staff Needed GB, ...
4       Swim Instructor  US, NJ, Hawthorne NaN NaN NaN...
                              ...
5357    Property Preservation Field Crews US, MD, Fred...
5358    Administrative Assistant US, MD, Baltimore NaN...
5359    Job for freelancer working in Saudi Arabia SA,...
5360    Senior QA Engineer  IN, , Hyderabad Informatio...
5361    Call Center Representative US, TX, DALLAS NaN ...
Length: 5362, dtype: object

In [30]:
# results for parsing
vectorizer = CountVectorizer()
result = pd.DataFrame.sparse.from_spmatrix(vectorizer.fit_transform(text))

In [31]:
import numpy as np

In [ ]:
# NA info 
cleaned_data = pd.concat([result ,dat.isna().astype('int'),dat.loc[:,dat.dtypes == 'int64'].iloc[:,1:4]],axis = 1,ignore_index=True)

# Below are scratch code (can ignore)

In [ ]:
test_series = pd.DataFrame({"a":['hello"s , hello hello,hi you are',"hello hello today's\xa0Document Hello"]})

In [ ]:
# save results of parsing
vectorizer = CountVectorizer()
result = vectorizer.fit_transform(test_series['a'])

In [ ]:
pd.DataFrame.sparse.from_spmatrix(result)

In [ ]:
vectorizer.vocabulary_

In [ ]:
test = CountVectorizer().fit_transform(data.iloc[:,1])
test_names
pd.DataFrame.sparse.from_spmatrix(test)

In [ ]:
def parsing_series(series):
    sparse_parse = CountVectorizer(stop_words=stop_words).fit_transform(series)
    pandas.DataFrame.sparse.from_spmatrix

In [ ]:
data

In [ ]:
def parsing(col):

In [ ]:
# concat na to 
pd.concat([data ,data.isna().astype('int')],axis = 1,ignore_index=True)

In [ ]:
pd.concat()