In [9]:
import pandas as pd
import os
import collections
from sklearn.preprocessing import LabelBinarizer

In [32]:
#converting categorical variables into dummy variables
data = pd.read_csv("job_training_data.csv")


newdata = data.copy().fillna(0)
  
dummies = pd.get_dummies(newdata, columns = ['employment_type', "required_education", "required_experience","function."])
dummies

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,...,function._Public Relations,function._Purchasing,function._Quality Assurance,function._Research,function._Sales,function._Science,function._Strategy/Planning,function._Supply Chain,function._Training,function._Writing/Editing
0,13454,Field Operations Specialist,"US, SD, Yankton",0,0,"Working at FBNAt FBN, we put farmers first. Fo...",Farmers Business Network (“FBN”) is an advance...,"Things we look forHonesty, integrity and a pas...",Competitive compensation based on experienceHe...,0,...,0,0,0,0,0,0,0,0,0,0
1,11411,CM2 5AS Warehousing apprenticeship available u...,"GB, , Chelmsford",0,0,Established on the principles that full time e...,This is fantastic opportunity for someone want...,Government funding is only available for 16-18...,Future Prospects,0,...,0,0,0,0,0,0,0,0,0,0
2,15153,Lead QA Tester,"GB, LND, London",Blippbuilder,35000-40000,"As augmented reality jobs go, one at Blippar i...",We are looking for an experienced Lead QA test...,This role requires somebody who has both a str...,"Our bright, open, centrally located offices ar...",0,...,0,0,1,0,0,0,0,0,0,0
3,2814,Basingstoke Fragrance/Beauty Staff Needed,"GB, HAM, Basingstoke",0,0,Established on the principles that full time e...,We are currently recruiting for an exciting Pr...,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13996,Swim Instructor,"US, NJ, Hawthorne",0,0,0,Looking for a part time swimming instructor to...,Must be Lifeguard and CPR certified,Pay is negotiable,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5357,17632,Property Preservation Field Crews,"US, MD, Frederick",0,0,0,We are looking for a contractors/individual wh...,**NOTE: You must have the necessary tools for...,As per job,0,...,0,0,0,0,0,0,0,0,0,0
5358,17751,Administrative Assistant,"US, MD, Baltimore",0,0,0,Administrative AssistantEssential Job Responsi...,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5359,17561,Job for freelancer working in Saudi Arabia,"SA, 01, Murabba Riyadh",IT Administrator / Developer,0,0,Hundreds of Freelance Jobs available every mon...,Freelancer working in Saudi Arabia.,0,0,...,0,0,0,0,0,0,0,0,0,0
5360,2397,Senior QA Engineer,"IN, , Hyderabad",Information Technology,0,Aptitude Staffing Solutions has redesigned the...,Responsibilities:* Acquire and maintain a comp...,Required Skills and Experience:Minimum of five...,What Is OfferedOur client's core values drive ...,0,...,0,0,0,0,0,0,0,0,0,0
5361,5026,Call Center Representative,"US, TX, DALLAS",0,1000-2000,0,"Answer Call Center incoming telephone calls, e...",Education and/or Experience- College degree or...,Compensation/benefits package includes:Compreh...,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:

os.chdir("/Users/arlinashen/Downloads")
os.getcwd()

'/Users/arlinashen/Downloads'

In [3]:
# convert the employment type and required education columns into dummy variables
data = pd.read_csv("job_training_data.csv")
data.fillna(0)
employment_dummies = pd.get_dummies(data["employment_type"])
education_dummies = pd.get_dummies(data["required_education"])
new_data = data.join(employment_dummies["Contract"])
new_data = new_data.join(employment_dummies["Full-time"])
new_data = new_data.join(employment_dummies["Other"])
new_data = new_data.join(employment_dummies["Part-time"])
new_data = new_data.join(employment_dummies["Temporary"])
new_data = new_data.join(education_dummies["Bachelor's Degree"])
new_data = new_data.drop(["required_education", "employment_type"], axis = 1)
new_data = new_data.join(education_dummies["Associate Degree"])
new_data = new_data.join(education_dummies["Certification"])
new_data = new_data.join(education_dummies["Doctorate"])
new_data = new_data.join(education_dummies["High School or equivalent"])
new_data = new_data.join(education_dummies["Master's Degree"])
new_data = new_data.join(education_dummies["Some College Coursework Completed"])
new_data = new_data.join(education_dummies["Some High School Coursework"])
new_data = new_data.join(education_dummies["Unspecified"])
new_data = new_data.join(education_dummies["Vocational"])
new_data = new_data.join(education_dummies["Vocational - HS Diploma"])
new_data = new_data.join(education_dummies["Professional"])

new_data.fillna(0)

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,...,Certification,Doctorate,High School or equivalent,Master's Degree,Some College Coursework Completed,Some High School Coursework,Unspecified,Vocational,Vocational - HS Diploma,Professional
0,13454,Field Operations Specialist,"US, SD, Yankton",0,0,"Working at FBNAt FBN, we put farmers first. Fo...",Farmers Business Network (“FBN”) is an advance...,"Things we look forHonesty, integrity and a pas...",Competitive compensation based on experienceHe...,0,...,0,0,0,0,0,0,0,0,0,0
1,11411,CM2 5AS Warehousing apprenticeship available u...,"GB, , Chelmsford",0,0,Established on the principles that full time e...,This is fantastic opportunity for someone want...,Government funding is only available for 16-18...,Future Prospects,0,...,0,0,1,0,0,0,0,0,0,0
2,15153,Lead QA Tester,"GB, LND, London",Blippbuilder,35000-40000,"As augmented reality jobs go, one at Blippar i...",We are looking for an experienced Lead QA test...,This role requires somebody who has both a str...,"Our bright, open, centrally located offices ar...",0,...,0,0,0,0,0,0,0,0,0,0
3,2814,Basingstoke Fragrance/Beauty Staff Needed,"GB, HAM, Basingstoke",0,0,Established on the principles that full time e...,We are currently recruiting for an exciting Pr...,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13996,Swim Instructor,"US, NJ, Hawthorne",0,0,0,Looking for a part time swimming instructor to...,Must be Lifeguard and CPR certified,Pay is negotiable,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5357,17632,Property Preservation Field Crews,"US, MD, Frederick",0,0,0,We are looking for a contractors/individual wh...,**NOTE: You must have the necessary tools for...,As per job,0,...,0,0,0,0,0,0,0,0,0,0
5358,17751,Administrative Assistant,"US, MD, Baltimore",0,0,0,Administrative AssistantEssential Job Responsi...,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5359,17561,Job for freelancer working in Saudi Arabia,"SA, 01, Murabba Riyadh",IT Administrator / Developer,0,0,Hundreds of Freelance Jobs available every mon...,Freelancer working in Saudi Arabia.,0,0,...,0,0,0,1,0,0,0,0,0,0
5360,2397,Senior QA Engineer,"IN, , Hyderabad",Information Technology,0,Aptitude Staffing Solutions has redesigned the...,Responsibilities:* Acquire and maintain a comp...,Required Skills and Experience:Minimum of five...,What Is OfferedOur client's core values drive ...,0,...,0,0,0,0,0,0,0,0,0,0
5361,5026,Call Center Representative,"US, TX, DALLAS",0,1000-2000,0,"Answer Call Center incoming telephone calls, e...",Education and/or Experience- College degree or...,Compensation/benefits package includes:Compreh...,0,...,0,0,1,0,0,0,0,0,0,0

In [4]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import nltk
nltk.download("stopwords")
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/arlinashen/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/arlinashen/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
# finds most frequent words in description column (ignoring all the stop words)
top_N = 20
df = pd.read_csv("job_training_data.csv",
                 usecols=['description','requirements'])
stopwords = nltk.corpus.stopwords.words('english')
RE_stopwords = r'\b(?:{})\b'.format('|'.join(stopwords))
words = (df.description
           .str.lower()
           .replace([r'\|', RE_stopwords], [' ', ''], regex=True)
           .str.cat(sep=' ')
           .split()
)
rslt = pd.DataFrame(collections.Counter(words).most_common(top_N),
                    columns=['Word', 'Frequency']).set_index('Word')
rslt

             Frequency
Word
team              4134
work              3962
new               2928
business          2908
looking           2696
customer          2594
sales             2414
experience        2354
’                 2090
development       1990
product           1949
company           1935
&amp;             1924
support           1739
marketing         1728
management        1702
service           1700
working           1646
-                 1572
data              1500

In [6]:
# bag of words encoding

import nltk
import re
import numpy as np
  
# execute the text here as :
text = pd.read_csv("job_training_data.csv")
#dataset = nltk.sent_tokenize(text)


bagOfWords = rslt.index.to_numpy()
wordsFound = ""

mystring = text.head()["description"].astype(str).tolist()
array = []
for word in bagOfWords:
    if word in mystring: 
        array.append(word)

g=pd.get_dummies(pd.Series(mystring[0].str.split('\s'))).reindex(columns=array)#.fillna(0).astype(int)
#g


#pd.DataFrame(df1.iloc[:,0]).join(g.groupby(level=0).sum(0))
#for i in range(len(dataset)):
    #dataset[i] = dataset[i].lower()
    #dataset[i] = re.sub(r'\W', ' ', dataset[i])
    #dataset[i] = re.sub(r'\s+', ' ', dataset[i])

#word2count = {}
#for data in dataset:
    #words = nltk.word_tokenize(data)
    #for word in words:
        #if word not in word2count.keys():
            #word2count[word] = 1
        #else:
            #word2count[word] += 1
#word2count

AttributeError: 'str' object has no attribute 'str'

In [ ]:

import heapq
freq_words = heapq.nlargest(100, word2count, key=word2count.get)
freq_words

In [ ]:

X = []
for data in dataset:
    vector = []
    for word in freq_words:
        if word in nltk.word_tokenize(data):
            vector.append(1)
        else:
            vector.append(0)
    X.append(vector)
X = np.asarray(X)
X